body {
    font-family: 'Roboto', sans-serif;
    color: $colour-primary;
    font-size: 2rem;
    font-weight: 100;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    color: $colour-primary;
    line-height: normal;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.75rem;
}

span{
    color: $colour-text-secondary;
    font-weight: 400;
    line-height: normal;
}