body {
    font-family: 'Roboto', sans-serif;
    color: $colour-primary;
    font-size: 2rem;
    font-weight: 100;
}

.titre {
    font-weight:bold;
    font-size: 20px;
    font-family:Roboto;
    margin-right: 80px;
    margin-bottom: 10px;   
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.75rem;
}

span{
    color: $colour-text-secondary;
    font-weight: 400;
    line-height: normal;
}

.nom_plat {
    font-size: 17px;
    font-weight: bold;
}

.ville {
    font-size: 17px;
}