/* Error: expected "{".
 *     ,
 * 110 |                         whi
 *     |                            ^
 *     '
 *   sass/pages/lapalettedugout.scss 110:28  @import
 *   sass/main.scss 20:9                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 110 \2502                          whi\a     \2502                             ^\a     \2575 \a   sass/pages/lapalettedugout.scss 110:28  @import\a   sass/main.scss 20:9                     root stylesheet';
}
