.divHeader{
    position: relative;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;

    .leftArrow{
        position: absolute;
        left: 30px;
        font-size: larger;
    }

    .logo{
        margin:auto;
    }
}

.divMain{

    .menu {

        padding:18px;
        background-color: darken($colour-bg-main, 1);

        .titreMenu{

            
            font-family: Shrikhand;
            font-size: 27px;
            overflow: hidden;

            .heartcolor {
                display: none;
            }

            &:hover {
                
                .hearttransparent {
                    display: none;
                }
                .heartcolor {
                    display: block;
                    color: $colour-violet;
                }
            }

            
            i{
                margin-top:5px;
                margin-left:25px;
               
            }
        }

        .cardElementMenu{
            margin-top: 20px;
            font-size: 18px;

            .elementMenuTitre{
                font-variant: small-caps;
                color: lighten($colour-secondary,30);
            }
            .elementMenuTitre::before{
                content: '';
                position: absolute;
                border-top: 2px solid $colour-vert; 
                width: 3%;
             }

             .elementMenu{
                display: flex;
                justify-content: space-between;
                background-color: $colour-white;
                border-radius: 10px;
                margin-top: 25px;
                animation: elementMenu 2000ms;
                animation-delay: 0ms;
                animation-fill-mode: backwards;
                @keyframes elementMenu {
                    0%{
                        transform: translateY(50%);
                        opacity: 0;
                    }
                    100%{
                        transform: translate(0%);
                        opacity: 1;
                    }   
                }

                .platDescription {
                    
                    white-space: nowrap;
                    overflow: hidden;
                    width: 70%;
                    align-self: center;
                    margin: 10px;
                    .titrePlat{
                        font-weight: bold;
                    }
                    .accompagnementPlat{
                        color: lighten($colour-secondary,30);
                        font-size: 15px;
                    }
                }

                .platPrix{
                    margin: 10px;
                    margin-top: 35px; 
                    font-size: 15px;
                    font-weight: bold;
                   
                    
                }
                .validate{
                    display: flex;
                    align-items: center;
                    background-color: lighten($colour-vert, 8);
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    width: 50px;
                    transition: transform 600ms ease-in-out;
                    & i{
                        color: $colour-white;
                        margin: auto;
                        transition: transform 600ms ease-in-out;
                    }
                
                }
               
             }

            
        }
    }
    
}